* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling for Login Page */
.login-page {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('../Assets/sih.jpg');
  background-size: cover;
  background-position: center;
}

/* LoginForm-specific Styling */
.login-page .wrapper {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(50px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.login-page .wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.login-page .wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.login-page .input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgb(255, 255, 255, .2);
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.login-page .input-box input::placeholder {
  color: #fff;
}

.login-page .input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

.login-page .wrapper button {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
}
